<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="h-screen w-screen">
  <div id="editor-container" class="h-full w-full overflow-hidden">
    <%- include('../partials/editor') %>
  </div>
</body>

</html>