<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="h-screen w-screen">
  <div id="home-container" class="h-full w-full overflow-hidden hidden">

  </div>
  </div>
  <div id="editor-container" class="h-full w-full overflow-hidden hidden">
    <%- include('../partials/editor') %>
  </div>
  <div id="files-container" class="h-full w-full overflow-hidden hidden">

  </div>
  <div id="not-supported-container" class="h-full w-full overflow-hidden hidden">
    <%- include('../partials/not-supported') %>
  </div>
</body>

</html>