<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Online IDE for Tridecco Game Board, allowing you to create and edit tridecco game boards directly in your browser.">
<title>Tridecco Game Board Web IDE</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/bundle.js" defer></script>
<%- includes('./monaco') %>